#status-header-text {
    font-weight: bold;
    color: red;
}

#status-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#status-input {
    background-color: #C8BFC7;
    border: none;
    border-radius: 5px;
    height: 100%;
}

.button {
    cursor: pointer;
}