#budget-categories-edit-modal-title {
    text-align: center;
    width: 100%;
    color: #F7F0F5;
}

.modal-field {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.modal-input {
    background-color: #C8BFC7;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-left: 20px;
    width: 70%;
    padding-left: 10px;
}

#category-button {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-label {
    font-weight: bold;
}
