.main {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.budget-card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    height: 90%;
    display: flex;
}

.column {
    height: 100%;
    flex: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-text {
    font-size: 40px;
    font-weight: bold;
    color: #C8BFC7;
}
