.main {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.title {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    height: 45%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title-text {
    font-size: 40px;
    font-weight: bold;
    color: #C8BFC7;
}
