$custom:#C8BFC7;
$custom-dark: #048A81;
$custom-green: #06D6A0;

$theme-colors: (
    "custom": $custom,
    "custom-dark": $custom-dark,
    "custom-green": $custom-green
);

$accordion-button-bg: #048A81;
$accordion-button-active-bg: #06D6A0;
$accordion-bg: #048A81;
$accordion-border-color: #048A81;

$table-bg: #048A81;
$table-border-color: #048A81;

$list-group-bg: #06D6A0;
$list-group-border-color: #06070E;
$list-group-border-width: 5px;
$list-group-border-radius: 12px;

$modal-content-bg: #048A81;
$modal-header-border-color: #06070E;

$gray-900: #06070E;

$navbar-light-color: white;
$navbar-light-brand-color: white;
$navbar-light-brand-hover-color: #048A81;
$navbar-light-hover-color: #048A81;
$navbar-padding-x: 0;

$nav-tabs-link-active-bg: #048A81;
$nav-tabs-border-color: #048A81;
$nav-tabs-link-active-border-color: #048A81;
$nav-tabs-link-hover-border-color: #048A81;
$nav-link-color: #C8BFC7;
$nav-link-hover-color: #048A81;


@import '../node_modules/bootstrap/scss/bootstrap.scss';