
#card {
    width: 85%;
    height: 95%;
    background-color: #06070E;
    border-color: #C8BFC7;
    overflow-y: auto;
}

#card-title {
    display: flex;
    align-items: start;
    margin: 20px;
}

#card-content {
    width: 100%;
    height: 90%;
}

#card-title-text {
    color: #C8BFC7;
}